/* ITC Garamond fontti */
@font-face {
    font-family: "ITC Garamond";
    src: url('./assets/fonts/ITCGaramondStd-BkNarrow.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Fonttimuuttujat */
:root {
        --font-main: 'ITC Garamond', serif;
        --font-weight-regular: 400;
    --art-bg: linear-gradient(to bottom, #010313 0%, #06112a 60%, #0e1f47 100%);
    --art-bg-blend: screen, lighten, normal;
    --color-text: #000000;
    --color-link: #fff;
    --color-link-hover: #40454a;
}

body {
    font-family: var(--font-main);
    font-weight: var(--font-weight-regular);
    color: var(--color-text);
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-text);
}

p {
    color: var(--color-text);
}

a {
    color: var(--color-link);
    text-decoration: underline;
    transition: color 0.2s;
}

a:hover {
    color: #595e62;
}

.jewellerygrid {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(100, 1fr);
  width: 1500px; /* Optional: container size */
  height: 700px; /* Optional: container size */
}

.item-image img {
  width: var(--h);  /* Oli ennen 100px Set the width */
  height: var(--j); /* Oli ennen 70 px Set the height */
  object-fit: top; /* Control how the image fits in the grid */
  z-index: 1;
  position: absolute;
}

.item-image {
  grid-column: var(--u);
  grid-row: var(--v);
}